@import "partials/common/colors";
@import "partials/common/mixins";
@import "partials/common/general";
@import "partials/common/item";
@import "partials/common/question";
@import "partials/common/columns";
@import "partials/common/banner";
@import "partials/common/button";

@import "partials/testbox";

@media (min-width: 568) {
	.city-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.name-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		input {
			width: calc(50% - 20px);
		}

		div {
			width: calc(50% - 20px);

			input {
				width: 97%;
			}

			label {
				display: block;
				padding-bottom: 5px;
			}
		}
	}
}
